<form method="POST" action="/forgot_password" class="forgot-password-form">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <label for="gmail">Correo electrónico:</label>
  <input type="email" name="gmail" placeholder="Introduce tu correo electrónico" required>
  <button type="submit">Enviar código</button>


  {% with message=session.pop('message', None) %}
  {% if message %}
      <script>
          const title = "{{ 'Éxito!' if session.get('message_type') == 'success' else 'Error!' }}";
          const text = "{{ message|escape }}";  // Escapa caracteres especiales
          const icon = "{{ session.get('message_type') }}";
          
          Swal.fire({
              title: title,
              text: text,
              icon: icon,
              confirmButtonText: 'Aceptar'
          });
      </script>
  {% endif %}
{% endwith %}

</form>
