<form action="{{ url_for('profile') }}" id="profileForm" method="post" required class="profile-form">
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" value="{{ user['name'] }}" required readonly>
    <br>

    <label for="lastname">Apellido:</label>
    <input type="text" id="lastname" name="lastname" value="{{ user['lastname'] }}" required readonly>
    <br>

    <label for="username">Nombre de usuario:</label>
    <input type="email" id="username" name="username" value="{{ user['username'] }}" required readonly>
    <br>

    <label for="gmail">Correo Electrónico:</label>
    <input type="email" id="gmail" name="gmail" value="{{ user['gmail'] }}" required>
    <br>
    
    <label for="password">Nueva Contraseña (opcional):</label>
    <input type="password" id="password" name="password">
    <br>
    
    <button type="submit" class="update-button">Actualizar</button>

    {% with message=session.pop('message', None) %}
    {% if message %}
        <script>
            const title = "{{ 'Éxito!' if session.get('message_type') == 'success' else 'Error!' }}";
            const text = "{{ message|escape }}";  // Escapa caracteres especiales
            const icon = "{{ session.get('message_type') }}";
            
            Swal.fire({
                title: title,
                text: text,
                icon: icon,
                confirmButtonText: 'Aceptar'
            });
        </script>
    {% endif %}
{% endwith %}


</form>
